* {
          margin: 0;
          padding: 0;
}

.home2 {
          margin: 100px auto;
          width: 1200px;
}

.home2 .homeContainer2 {
          margin: auto;
          width: 1200px;
          display: flex;
          flex-wrap: wrap;
          padding: 30px;
}

.home2 .homeContainer2 .show-data2 {
          width: 300px;
          border-radius: 10px;
          background-color: #eec6c6;
          margin-right: 50px;
          margin-bottom: 50px;
}

.home2 .homeContainer2 .show-data2 img {
          width: 300px;
          border-radius: 10px;
          margin-bottom: 20px;
          height: 200px;
}

.home2 .homeContainer2 .show-data2 h3 {
          margin-bottom: 30px;
          margin-left: 10px;
          font-size: 25px;
          cursor: pointer;
}

.home2 .homeContainer2 .show-data2 h4 {
          margin-bottom: 30px;
          margin-left: 10px;
          font-size: 20px;
          cursor: pointer;
}

.home2 .homeContainer2 .show-data2 p {
          font-size: 20px;
          cursor: pointer;
          padding-bottom: 20px;
          margin-left: 10px;
          display: none;
          cursor: pointer;
}

.home2 .homeContainer2 .show-data2 .buy {
          display: flex;
          justify-content: space-between;
}

.home2 .homeContainer2 .show-data2 .buy i {
          display: none;
          font-size: 25px;
          margin-right: 10px;
          cursor: pointer;
          transition: 0.3s ease;
}

.home2 .homeContainer2 .show-data2 .buy i:hover {
          color: rgb(179, 62, 62);
}

.home2 .homeContainer2 .show-data2:hover i {
          display: block;
}


.home2 .homeContainer2 .show-data2 .buy button {
          margin-left: 10px;
          margin-bottom: 10px;
          font-size: 20px;
          width: 70px;
          border-radius: 5px;
          border: none;
          background-color: #1976d2;
          color: #fff;
          cursor: pointer;
}





/* second */
.home2 .oderContainer {
          margin: auto;
          width: 1200px;
          padding: 30px;
          margin-top: 30px;
}

.home2 .oderContainer .oderShow1 {
          width: 1200px;
          margin: auto;
          display: flex;
}

.home2 .oderContainer .oderShow .showBuy {
          width: 300px;
          border-radius: 10px;
          background-color: #eec6c6;
          margin-right: 50px;
          margin-bottom: 50px;
}

.home2 .oderContainer .oderShow .showBuy img {
          width: 300px;
          border-radius: 10px;
          margin-bottom: 20px;
          height: 200px;
}

.home2 .oderContainer .oderShow .showBuy h3 {
          font-size: 20px;
          margin-left: 10px;
          margin-bottom: 10px;
}

.home2 .oderContainer .oderShow .showBuy p {
          font-size: 20px;
          margin-left: 10px;
          margin-bottom: 10px;
          display: none;
          word-break: break-all;
}

.home2 .oderContainer .oderShow .showBuy:hover p {
          display: block;
}

.home2 .oderContainer .oderShow .showBuy .deleteff i {
          font-size: 20px;
          margin-left: 10px;
          margin-bottom: 10px;
          display: none;
}

.home2 .oderContainer .oderShow .showBuy:hover .deleteff i {
          display: block;
}